.card {
	max-width: 30em;
	padding-bottom: 1em;
	border: 10px solid #59a694;
	border-radius: 10px;
}

.card .image {
	max-width: 100%;
	margin: auto;
	display: flex;
	margin-bottom: 1em;
	border-bottom: 10px solid #59a694;
}

.card .image img {
	max-width: 100%;
}

.card h2 {
	font-size: 3em;
	text-align: center;
}
