.card {
	max-width: 30em;
	padding-bottom: 1em;
	border: 10px solid #029ac3;
	border-radius: 10px;
	cursor: pointer;
	background-color: #59a694;
}

.card .image {
	max-width: 100%;
	margin: auto;
	display: flex;
	margin-bottom: 1em;
	border-bottom: 10px solid #029ac3;
}

.card .image img {
	max-width: 100%;
	object-fit: fill;
	height: 100%;
	width: 100%;
}

.card h2 {
	text-align: center;
}
